<h1>here</h1>
<form action="/payment/results">
  <label for="APR">APR</label>
  <input id="APR" name="user_apr">
  <label for="years_input">Number of years</label>
  <input id="years_input" name="user_years">
  <label for="Principal">Principal</label>
  <input id="Principal" name="user_pv">
  <button>Calculate monthly payment /payment/results</button>
</form>
