<h1>here</h1>
<form action="/calc">
  <label for="rate">Enter a number</label>
  <input id="rate" type="text" name ="apr">
  <label for="numyears">Enter a number</label>
  <input id="numyears" type="text" name ="years">
  <label for="presentvalue">Enter a number</label>
  <input id="presentvalue" type="text" name ="value">
  <button>Calculate Square Root /squarenumber</button>
</form>
