<form action="/random/results">
  <label for="Minimum">Minimum</label>
  <input id="Minimum" name="min">
  <label for="Maximum">Maximum</label>
  <input id="Maximum" name="max">
  <button>Pick random number /random/results</button>
</form>
